@inject NavigationManager NavigationManager

<nav class="flex flex-col bg-gray-800 text-white min-h-screen w-64 gap-4 p-4 items-center justify-start">
    <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="counter">Counter</NavLink>
</nav>